.u-section-1 .u-sheet-1 {
  min-height: 645px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px 288px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-1 .u-table-1 {
  width: 1139px;
  margin: 39px auto 60px;
}

.u-block-a63a-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-block-a63a-59 {
  font-weight: 700;
  background-image: none;
}

.u-block-a63a-60 {
  font-weight: 700;
  background-image: none;
}

.u-block-a63a-61 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-45 {
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-46 {
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-47 {
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-48 {
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
}

.u-block-a63a-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 88px;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-table-cell-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-table-cell-7 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-table-cell-8 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-table-cell-45 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-table-cell-46 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-table-cell-47 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-table-cell-48 {
    font-size: 1.5rem;
  }
}